version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: technical_test_rabbitmq
    ports:
      - "5672:5672"   # AMQP protocol
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
      RABBITMQ_DEFAULT_VHOST: /
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - technical_test_network

  mongodb:
    image: mongo:7.0
    container_name: technical_test_mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: audit_service_development
    volumes:
      - mongodb_data:/data/db
    networks:
      - technical_test_network

  postgres:
    image: postgres:16
    container_name: technical_test_postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-databases.sql:/docker-entrypoint-initdb.d/init-databases.sql
    networks:
      - technical_test_network

volumes:
  rabbitmq_data:
  mongodb_data:
  postgres_data:

networks:
  technical_test_network:
    driver: bridge

